/* Tour page styles */

table {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.heading{
  display: inline-block;
  text-align: center;
  margin: auto 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

h1.heading {
  text-align: center;
}
